@import './variables';

@mixin textTitle {
  font-size: 40px;
  font-weight: 700;
  color: $textColor;

  span {
    margin-left: 15px;
    color: $primaryColor;
    font-family: 'JosefinSans', sans-serif;
  }
}
