$textColor: #fff;
$primaryColor: #41b67f;
$BgColor: #1f1f20;
$secondBgColor: #252527;
$bgProgress: #71768e;
$trackColor: #65ab74;

$additionalBgColor: transparent;
$btnColor: #178a5a;
$secondTextColor: #007248;