.worksBlock {
    min-height: 100vh;
    background-color: #acdcb0;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #737272;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}