@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';

.contactBlock {
  //padding: 39px 20px 36px;
  padding: 25px 20px 25px;
  //margin-bottom: 30px;
  text-align: center;
  background: $BgColor;
  position: relative;
  border-radius: 10px;

  .icon {
    width: 65px;
    height: 65px;
    font-size: 25px;
    color: #03ff89;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    display: inline-block;
    //margin-bottom: 25px;
    background: rgba(66, 133, 244, 0.1);
  }
  .title {
    @include textTitle;
    font-size: 20px;
  }

  .info {

    h5 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0;
      color: #94a2c6;
      font-size: 16px;
      line-height: 1.625;
      hyphens: auto;
    }
  }
}


