.nav {
    border: 1px solid darkred;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
/*

flex-direction = smena osi, (po umolchaniyu row)
justify-content: = vuravniv elem po glavn osi
align-items: = vuravniv elem po vtorostipennoj osi
justify-content: space-between = odinak otstupu i prizhat k krajam
justify-content: space-around = odinak otstupu all + otstup po krayam
justify-content: space-evenly = odinak otstupu all elem

*/