/*
.contactBlock {
    height: 100vh;
    background-color: #e3e7be;
}

.contactContainer {
    display: flex;
    flex-direction: column;

}

.form {
    width: 35%;
    height: 35%;
    display: flex;
    flex-direction: column;
    background-color: #767770;
}

.textarea {
    resize: both;
    min-height: 100px;
    max-height: 300px;
    min-width: 100px;
    max-width: 100%;
}

.title {
    background-color: #737272;
}*/
@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.wrapper {
    min-height: 75vh;
    background-color: $secondBgColor;
    flex-direction: column;
    align-items: center;
    padding: 40px 10%;

    .title {
    @include textTitle;
        text-align: center;
}


.container {
    display: grid;
    grid-template:
            "a a b b c c"
            "d d d d e e" / 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

div:nth-child(1) {
    grid-area: a;
}

div:nth-child(2) {
    grid-area: b;
}

div:nth-child(3) {
    grid-area: c;
}

.formBlock {
    width: auto;
    min-height: 375px;
    padding: 22px 30px 40px;
    background-color: $BgColor;
    border-radius: 10px;
    grid-area: d;

.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 12px 0px;
    font-size: 16px;
    height: auto;
    box-shadow: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    background-color: $BgColor !important;
    color: $textColor;
    line-height: 1.5;
//background-clip: padding-box;
//transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
&::placeholder {
     color: $bgProgress;
     opacity: 1;
 }
}

textarea {
    resize: vertical;
    height: 130px;
    margin-bottom: 20px;
    width: 100%;
    padding: 12px 0px;
    font-size: 17px;
    box-shadow: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    background-color: $BgColor !important;
    color: $textColor;
    line-height: 1.5;

&::placeholder {
     color: $bgProgress;
     opacity: 1;
 }
}
}

.map {
    border: 20px solid $BgColor;
//box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    display: flex;
    height: 91%;
    border-radius: 10px;
    grid-area: e;

iframe {
//width: 600px;
//height: 450px;
    padding: 0px !important;
    border: 0px !important;
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width: 1000px) {
    grid-template:
"a b"
"c e"
"d d" / 1fr 1fr
}

@media screen and (max-width: 650px) {
    .formBlock {
    .box1 {
        grid-template-columns: 1fr;
    }
}
}

@media screen and (max-width: 600px) {
    grid-template:
"a"
"b"
"c"
"e"
"d";
    .map {
    iframe {
        height: 300px;
    }
}
}
}
}
